.noticeBar {
  padding: 20px;
  margin: 20px;
  border: 1px solid  #ececec;
}

.noticeBar ul {
  list-style: none;
  display: flex;
}

.noticeBar ul > li {
  flex: 0 0 25%;
  font-size: 1.50em;
  text-align: left;
  font-variant-caps: all-petite-caps;
}

.noticeBar ul > li:first-child {
  flex: 2;
}
