.noticeBar {
  padding: 20px;
  margin: 20px;
  border: 1px solid  #ececec;
}

.noticeBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.noticeBar ul > li {
  flex: 1;
  font-size: 1.50em;
  text-align: left;
  font-variant-caps: all-petite-caps;
  margin: 0 10px;
}

.noticeBar ul > li:first-child {
  /*flex: 3;*/
}
