.noticeBar {
  position: relative;
  padding: 20px;
  margin: 20px;
  border: 1px solid  #ececec;
}

.noticeBar ul {
  padding: 0;
  margin: 0;
  width: 50%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.noticeBar ul > li {
  list-style-type: none;
  flex: auto;
}

.button {
  float: right;
}

.button li {
  text-align: right;
}

.button li:first-child {
  margin: 10px;
}
