.optionsBar {
  padding: 20px;
  margin: 20px;
  border: 1px solid  #ececec;
}

.optionsBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.optionsBar ul > li {
  padding: 0 40px;
  flex: auto;
  text-align: left;
}
.optionsBar input + label {
  width: 150px;

}

.optionsBar ul > li:first-child {
  padding: 0;
}

.optionsBar input[type="checkbox"]:focus{
  outline:0;
}
