.optionsBar {
  padding: 20px;
  margin: 20px;
  border: 1px solid  #ececec;
}

.optionsBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.optionsBar ul > li {
  margin: 0 35px;
  flex: 0 0 200px;
  text-align: left;
}
.optionsBar input + label {
  /*width: 150px;*/

}

.optionsBar ul > li:first-child {
  margin-left: 0;
  /*width: 100px;*/
}

.optionsBar ul > li:last-child {
  padding: 5px;
  margin: 10px;
}

.optionsBar input[type="checkbox"]:focus{
  outline:0;
}

