

.checkboxGroup {
  padding: 20px;
  margin: 20px;
  border: 1px solid  #ececec;
}

.checkboxGroup ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkboxGroup ul > li {
  flex: 0 0 250px;
  margin: 5px;
}

.checkboxGroup  input[type="checkbox"]:focus{
  outline:0;
}

.checkboxGroup > ul > li:last-child {
  position: absolute;
  right: 0;
  width: 20px;
}