.dropdown {
  padding: 0;
  margin: 0;
}

.dropdown {
  position: relative;
}

.dropdown p {
  color: #000;
}

.dropdown button {
  font-size: 1.25em;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #BDBDBD;
    outline: none;
    padding: 8px;
    margin: 0 0 8px 0;
    text-align: left;
    cursor: pointer;
}

.dropdown > div {
  font-size: 1.25em;
    background-color: #FAFAFA;
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 315px;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #BDBDBD;
}

.dropdown .active {
    display: block;
}
/*
input {
    opacity: 1; // Restore the opacity
    border: 0; // Remove the border 
    background: transparent;  //Remove the background 
    cursor: default !important; // Restore cursor to default 
    pointer-events: none; // Remove pointer events to be safe? 
}
*/