.search {
  padding: 0;
  margin: 0;
}


.menu {
  display: inline-block;
  height: 60px;
  opacity: 1; 
  border: 0; 
  background: transparent; 
  font-size: 1.25em;
  /*background-color: #FAFAFA;*/
  width: 100%;
  /*border: 1px solid #BDBDBD;*/
  outline: none;
  padding: 17px;
  /*margin: 0 0 8px 0;*/
  text-align: left;
  cursor: pointer;
}