

.filterStrip {
  padding: 20px;
  margin: 20px;
  border: 1px solid  #ececec;
}

.filterStrip ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filterStrip ul > li {
  flex: auto;
  width: 150px;
  padding: 5px;
  margin: 5px 0;

}

.filterStrip  input[type="checkbox"]:focus{
  outline:0;
}

.filterStrip > ul > li:last-child {
  position: absolute;
  right: 0;
  width: 20px;
}